
<div class="usrContent">

    <div class="detailHead"><a (click)="hideUserAdd()"><img src="./../imgs/close-icon.png" /></a></div>
    <div class="contentWrap">
        <form name="form" #myForm="ngForm">
            <div class="pictCase">

                <a class="changeAv" (click)="photoAdds(event)">
                    <div class="avBox" onclick="document.getElementById('selectAv').click ()">
                        <img *ngIf="!selected.photo" class="addAvatar"  src="./../imgs/photoPlace.png">
                        <img *ngIf="selected.photo" class="addAvatar" src="https://unsplash.it/200?image={{selected.id}}">
                    </div>
                </a>
                <input class="hidden" id="selectAv" type="checkbox" name="photo" [(ngModel)]="photo" value="imgs/avatar-2.png">
                <span>Filled profile: {{selected.percent}}%</span>
            </div>

            <div class="mainInfoBarCase">
                <div class="inpName">
                    <input type="text" name="name" placeholder="First name" [(ngModel)]="selected.name"/>
                    <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="selected.lastName"/>
                </div>

                <div class="inpPos"><input type="text" name="position" [(ngModel)]="selected.position" placeholder="Position"/></div>

                <div class="inpSkill">
                    <select name="skill" multiple name="skill" [(ngModel)]="selected.skill">
                        <option [disabled] = true>Select skill</option>
                        <option *ngFor="let c of selected.skill" [ngValue]="c">{{c}}</option>
                        <!--<option value="React">React</option>-->
                        <!--<option value="Node">Node</option>-->
                    </select>
                </div>

                <div class="MultiInp">

                     <select name="gender" [ngModel]="selected.gender">
                        <option [disabled]>Select Gender</option>
                        <option *ngFor="let gender of genders" [ngValue]="gender" [selected]="gender === selected.gender">{{gender}}</option>
                     </select>

                    <input name="birthday" type="date" [(ngModel)]="selected.birthday" />
                </div>

                <textarea [(ngModel)]="selected.characteristic" class="inpText" rows="10" cols="45" name="characteristic"></textarea>
            </div>

            <div class="ControllButtons">
                <button md-raised-button (click)="UserEdit(myForm)" class="add">Save</button>
            </div>

        </form>
    </div>

</div>


