<div class="usrContent" *ngIf="user">
    <div class="detailHead"><a [routerLink]="['']"><img src="./../imgs/close-icon.png" /></a></div>
    <div class="contentWrap">
        <form name="form" #myForm="ngForm">
            <div class="pictCase">
                <a class="changeAv" (click)="toggle()">
                    <div class="avBox" onclick="document.getElementById('selectAv').click ()">
                        <img *ngIf="!user.photo && !photo" class="addAvatar"  src="./../imgs/photoPlace.png">
                        <img *ngIf="user.photo || photo" class="addAvatar" src="https://unsplash.it/200?image={{user.id}}">
                    </div>
                </a>
                <input [(ngModel)]="user.photo" [checked]="user.photo" class="hidden" id="selectAv" type="checkbox" name="photo">

                <span>Filled profile: {{user.percent}}%</span>
            </div>

            <div class="mainInfoBarCase">
                <div class="inpName">
                    <input type="text" name="name" placeholder="First name" [(ngModel)]="user.name"/>
                    <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName"/>
                </div>

                <div class="inpPos"><input type="text" name="position" [(ngModel)]="user.position" placeholder="Position"/></div>

                <div class="inpSkill">
                    <select name="skill" multiple name="skill" [(ngModel)]="user.skill">
                        <option [disabled] = true>Select skill</option>
                        <option *ngFor="let c of user.skill" [ngValue]="c">{{c}}</option>
                    </select>
                </div>

                <div class="MultiInp">

                    <label class="selectGeneral" placeholder="Select Gender">
                        <input type="radio" name="gender">

                        <div>
                            <input  [ngModel]="user.gender"
                                    type="radio"
                                    name="gender"
                                    value="Male"
                                    id="Male"
                                    >
                            <label for="Male">Male</label>

                            <input  [ngModel]="user.gender"
                                    type="radio"
                                    name="gender"
                                    value="Female"
                                    id="Female"
                                    >
                            <label for="Female">Female</label>
                        </div>
                    </label>

                        

                     <!--<select name="gender" [ngModel]="user.gender">-->
                        <!--<option [disabled]>Select Gender</option>-->
                        <!--<option *ngFor="let gender of genders" [ngValue]="gender" [selected]="gender === user.gender">{{gender}}</option>-->
                     <!--</select>-->

                    <input class="birthPicker" name="birthday" type="date" [(ngModel)]="user.birthday" />
                </div>

                <textarea [(ngModel)]="user.characteristic" class="inpText" rows="10" cols="45" name="characteristic"></textarea>
            </div>

            <div class="ControllButtons">
                <button md-raised-button (click)="UserEdit(myForm)" class="add">Save</button>
            </div>
        </form>
    </div>
</div>
