
<md-toolbar><h1>List</h1></md-toolbar>

<!--user lost-->
<div class="user_container">
    <div class="AddContainer">
        <a><img class="addUsr" src="imgs/add.png"/></a>
    </div>
    <div class="elements">
        <md-card *ngFor="let user of user_list" class="example-card" [class.selected]="user === selectedUser"
                 (click)="onSelect(user)">

            <div class="usrImgCont">
                <div class="avatar">
                    <img class="avatarImage" src="imgs/avatar-2.png">
                </div>
            </div>


            <md-card-header>
                <md-card-title>{{user.name}} {{user.lastName}}</md-card-title>
                <md-card-subtitle>{{user.characteristic}}</md-card-subtitle>
                <md-card-subtitle>{{user.skill}}</md-card-subtitle>
            </md-card-header>
        </md-card>
    </div>
</div>

<div *ngIf="selectedUser">
    <h2>{{selectedUser.name}} profile</h2>
    <div><label>Name: </label><input [(ngModel)]="selectedUser.name" placeholder="name"/></div>
    <div><label>Last Name: </label><input [(ngModel)]="selectedUser.lastName" placeholder="lastName"/></div>
    <div><label>Birthday: </label><input [(ngModel)]="selectedUser.birthday" placeholder="birthday"/></div>

    <div><label>Position: </label><input [(ngModel)]="selectedUser.position" placeholder="position"/></div>
    <div><label>Skill: </label><input [(ngModel)]="selectedUser.skill" placeholder="skill"/></div>
    <div><label>Characteristic: </label><input [(ngModel)]="selectedUser.characteristic" placeholder="characteristic"/></div>
</div>

<!--<form>-->
    <!--<h3>Добавить сотрудника</h3>-->

    <!--<div class='field'>-->
        <!--<label for='title'>Имя</label>-->
        <!--<input type='text' name='name' #newtitle>-->
    <!--</div>-->

    <!--<div class='field'>-->
        <!--<label for='position'>Должность</label>-->
        <!--<input type='text' name='position' #newposition>-->
    <!--</div>-->
    <!--<button (click)='UserAdd(newtitle, newposition)'>Отправить</button>-->
<!--</form>-->