
<md-toolbar><h1>List</h1></md-toolbar>

<div class="user_container">
    <div class="AddContainer">
       <img [routerLink]="['add']" class="addUsr" src="./../imgs/add.png"/>
    </div>
    <div class="controllPanel">
        <form>
            <input placeholder="Поиск" type="search" (input)="nameValue = $event.target.value">
        </form>

        <div class="radio-toolbar">
        <div class="skipping">
            <input (click)="skipSort()" type="radio" id="radio1" name="radios" value="Skip">
            <label for="radio1">Skip</label>
        </div>

            <input (click)="onBirth()" type="radio" id="radio2" name="radios" value="Birthday">
            <label for="radio2">Birthday</label>

            <input (click)="onGender()" type="radio" id="radio3" name="radios" value="Gender">
            <label for="radio3">Gender</label>
        </div>
    </div>
    <div class="elements">
        <md-card *ngFor="let user of user_list | orderBy : genderSort: type | birthdayPipe: birthSort | namePipe:nameValue" class="example-card" [class.selected]="user === selectedUser"
                 [routerLink]="['detail/', user.id]" (click)="onSelect(user)">
            <div [ngClass]="(user.percent >= 50)?'gradient':'lowGradient'" [ngStyle]="{height:user.percent + '%'}"></div>
            <div class="usrImgCont">
                <div class="avatar">
                    <img *ngIf="user.photo" class="avatarImage" src="https://unsplash.it/200?image={{user.id}}">
                    <img *ngIf="!user.photo" class="avatarImage" src="./../imgs/photoPlace.png">
                </div>
            </div>
            <md-card-header>
                <md-card-title>{{user.name}} {{user.lastName}}</md-card-title>
                <md-card-subtitle>{{user.birthday}}</md-card-subtitle>
                <md-card-subtitle>{{user.position}}</md-card-subtitle>
                <md-card-subtitle><span *ngFor="let skill of user.skill" class="skill">{{skill}}</span></md-card-subtitle>
            </md-card-header>
        </md-card>
    </div>
</div>

<router-outlet></router-outlet>

