/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/assets/fonts/roboto-v16-cyrillic_latin/roboto-v16-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v16-cyrillic_latin/roboto-v16-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import '~@angular/material/prebuilt-themes/indigo-pink';

$border: 2px solid #bdbbb4;
$primary-color: #888888;
$placeholder-color: #b9b6b6;

@mixin inputs {
  padding: 7px;
  margin: 5px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #cecece;
  border-radius: 5px;
}

@mixin buttons {
  color: white;
  border-radius: 5px;
  padding: 10px 60px;
  font-size: 16px;
}

body{
  background: #f1f1f1;
  background-image: url(~/imgs/background.png);
}

.user_container .elements .example-card {
  cursor: pointer;
  border-bottom: $border;
  box-shadow: none;
  min-height: 83px;
}

.controllPanel form{
  width: 54%;
  display: table-cell;
}

.radio-toolbar{
  display: table-cell;
}

.skipping{
  display: inline-block;
  border-right: 2px solid #bdbbb4;
  padding-right: 5px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 15px;
  cursor: pointer;
}

.controllPanel{
  margin: 10px;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}

.example-card.mat-card:first-child {
  border-top: $border;
}

.avatarImage {
  border-radius: 155px;
  box-shadow: 0 0 13px #333;
  width: 90%;
}

.avatar, .mat-card-header-text{
  text-align: center;
}

.user_container{
  height: 93%;
  width: 26%;
  overflow: overlay;
  float: left;
  text-align: center;
  overflow: visible;
}

.usrImgCont{
  width: 25%;
  float: left;
  display: grid;
}

.usrleftBar h3{
  text-align: center;
}

.addUsr{
  width: 50px;
  padding: 10px 10px;
  cursor: pointer;
  outline: none;
}

.elements .mat-card{
  padding: 24px 24px 24px 10px;
}

.elements .mat-card.selected{
  width: 95%;
  padding-right: 3.1%;
}

.example-card.mat-card, .user_container{
  background: #fafafa;
  box-shadow: 5px 0 10px -5px $primary-color;
  outline: none;
}

.user_container .mat-card-header .mat-card-title{
  font-weight: bold;
  font-size: 16px;
}

.AddContainer a{
  display: inline-block;
}

md-toolbar{
  box-shadow: 0 5px 10px -5px $primary-color;
  position: relative;
  background: #f4f4f4;
}

//Detail

.detailAvatar{
   width: 138px;
   border: 1px solid #c3bdbf;
 }

.detailHead{
  width: 100%;
  float: right;
  padding: 10px;
}

.detailHead img{
  width: 50px;
  float: right;
  cursor: pointer;
}

.usrContent{
  float: left;
  width: 70%;
  height: 93%;
  background: #fafafa;
  border: 1px solid #c3bdbf;
  box-shadow: 5px 0 10px -5px $primary-color;
}

.contentWrap{
  padding: 35px 95px 35px 35px;
}

.avBox{
  float: left;
  margin: 0 30px 0 0;
}

.UsrName{
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
}

.UsrPos, .skills, .UsrPos{
  display: table;
}

.usrContent{

  .ControllButtons{
    float: right;
  }
  .ControllButtons .add{
    float: left;
  }

  .ControllButtons .dell{
    float: right;
  }

  .ControllButtons .mat-raised-button{
    margin: 10px;
  }
}

.ControllButtons{

  .del{
    @include buttons;
    background-color: #da5464;

  }

  .add{
    @include buttons;
    background-color: #51be87;

  }
}

.skill{
  background: #e7e7e7;
  color: #199e91;
  margin: 5px;
  padding: 5px 15px;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

.skillBox{
  display: flex;
}

//Add/Edit

.inpName input{
  width: 48.8%;
  @include inputs;
}

.inpPos input{
  width: 99%;
  @include inputs;
}

.pictCase{
  width: 12%;
  height: 60%;
  float: left;
  text-align: center;
}

.mainInfoBarCase{
  width: 88%;
  float: left;
}

.inpName input::-webkit-input-placeholder, .inpPos input::-webkit-input-placeholder {color: $placeholder-color;}
.inpName input::-moz-placeholder, .inpPos input::-moz-placeholder {color: $placeholder-color;}/* Firefox 19+ */
.inpName input:-moz-placeholder, .inpPos input:-moz-placeholder {color: $placeholder-color;}/* Firefox 18- */
.inpName input:-ms-input-placeholder, .inpPos input:-ms-input-placeholder {color: $placeholder-color;}

.inpText{
  margin-bottom: 1em;
  padding: 1em;
  background-color: #ffffff;
  border: 1px solid #cecece;
  font-size: 14px;
  border-radius: 5px;
  color: #6d4755;
  width: 100%;
}

.AutoComplete {
  position: relative;
  width: 200px;
}

.AutoComplete > * {
  width: 100%;
}

.AutoComplete > ul {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  display: none;
  margin: 5px 0 0 0;
  padding: 5px 0;
  position: absolute;
}

.AutoComplete li {
  display: block;
  padding: 0 5px;
}

.AutoComplete li:hover {
  background: #AAA;
  cursor: pointer;
}

.GenderSel, .inpSkill, .MultiInp, .MultiInp input{
  margin: 15px;
}

.addAvatar{
  width: 138px;
  cursor: pointer;
  margin-bottom: 10px;
}

.hidden{
  display: none;

}
.changeAv{
  float: left;
}

.gradient, .lowGradient{
  width: 5px;
  float: left;
  bottom: 0;
  left: 0;
  position: absolute;
}

.gradient::before {
  background: #ffffff;
  background: -moz-linear-gradient(top, #bff90f 0%, #238c10 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #bff90f), color-stop(100%, #238c10));
  background: -webkit-linear-gradient(top, #bff90f 0%, #238c10 100%);
  background: -o-linear-gradient(top, #bff90f 0%, #238c10 100%);
  background: -ms-linear-gradient(top, #bff90f 0%, #238c10 100%);
  background: linear-gradient(to top, #bff90f 0%, #238c10 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60ff0f', endColorstr='#238c10', GradientType=1);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.lowGradient::before{
  background: #ffffff;
  background: -moz-linear-gradient(top, #e9ec1c 0%, #ef8c11 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e9ec1c), color-stop(100%, #ef8c11));
  background: -webkit-linear-gradient(top, #e9ec1c 0%, #ef8c11 100%);
  background: -o-linear-gradient(top, #e9ec1c 0%, #ef8c11 100%);
  background: -ms-linear-gradient(top, #e9ec1c 0%, #ef8c11 100%);
  background: linear-gradient(to top, #e9ec1c 0%, #ef8c11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60ff0f', endColorstr='#238c10', GradientType=1);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

input[type=search] {
  background: #e5e5e5 url(~/imgs/icon.png) no-repeat 9px center;
  border: solid 6px #ccc;
  padding: 9px 10px 9px 30px;
  width: 120px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 90%;
  border: 6px solid #199e96;
  background-color: #ffffff;
  outline: none;
  left: -8px;
  position: relative;
}













